<ng-select 
  [items]="options" 
  [(ngModel)]="selectedOptions" 
  [placeholder]="defaultLabel"
  bindLabel="label" 
  bindValue="value" 
  [multiple]="true" 
  groupBy="itemGroup"
  [selectableGroup]="true" 
  [closeOnSelect]="false"
  (ngModelChange)="changeValue($event)"
  (keydown)="handleKeyDown($event)"
  style="width: 25vw;"
  >

  <!-- Item Tất cả  -->
  <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.itemGroup }}
  </ng-template>
  
  <!-- Các item còn lại -->
  <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
    <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" /> {{ item.label }}
  </ng-template>
</ng-select>