.collapse.show {
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;

    .card-body {
        .card-item {
            color: #ffffff;
            border-radius: 0.5rem;

            p {
                margin-top: 1rem;
                margin-bottom: 0;
            }
        }

        .card-item:nth-child(1) {
            background-color: #006adc;
        }

        .card-item:nth-child(2) {
            background-color: #509447;
        }

        .card-item:nth-child(3) {
            background-color: #e2803c;
        }

        .responsive-chart {
            width: 99%;
            height: auto;
            max-width: 100%;
        }

        .chart-container {
            width: 100%;
            max-width: 100%;
        }

        .canvas-container {
            height: 43vh;
            width: 99%;

            span {
                font-size: 12px;
            }
        }
    }

    .dx-chart .dxc-val-axis .dxc-val-title {
        transform: translateY(-20px);
    }

}

@media (max-width: 767px) {
    :host ::ng-deep {
        .ng-select {
            width: 100% !important;
        }
    }

    .multiple-container {
        flex-grow: 1;
        width: 0;
    }

    .canvas-container {
        width: 95% !important;
    }
}

@media (min-width: 768px) {
    .w-33-custom {
        width: 33%;
    }

    .w-66-custom {
        width: 66.45%;
    }

    .w-33-widget3 {
        width: 33%;
    }

    .w-66-widget3 {
        width: 66.45%;
    }

    .w-100-widget3 {
        width: 100%;
    }
}

@media (min-width: 1200px) and (max-width: 1627px){
    .w-33-custom {
        width: 32.9%;
    }

    .w-66-custom {
        width: 66.45%;
    }

    .w-33-widget3 {
        width: 32.9%;
    }

    .w-66-widget3 {
        width: 66.45%;
    }

    .w-100-widget3 {
        width: 100%;
    }
}