<div class="d-flex justify-content-between align-items-center header-container">
  <!-- Tiêu đề -->
  <h6 class="text-primary fw-bold m-0">{{ headerText }}</h6>

  <!-- Nút chức năng -->
  <div class="d-flex gap-2">
    <!-- Nút Thu vào/Mở rộng -->
    <button class="btn btn-sm" (click)="onToggleCollapse()">
      <i class="fa-solid" [ngClass]="isCollapsed ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
    </button>

    <!-- Nút Reload -->
    <button class="btn btn-sm" (click)="onReload()">
      <i class="fa-solid fa-rotate-right"></i>
    </button>

    <!-- Dropdown Menu: Tùy chỉnh độ rộng -->
    <div class="dropdown d-none d-lg-block">
      <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" id="dropdownMenu">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>

      <ul class="dropdown-menu dropdown-parent" aria-labelledby="dropdownMenu">
        <!-- Mục "Độ rộng" có submenu -->
        <li class="dropdown-item dropdown-submenu">
          <span class="text-muted fw-semibold d-flex justify-content-between align-items-center">
            Độ rộng <i class="fa-solid fa-angle-right"></i>
          </span>
          <ul class="dropdown-menu" [ngClass]="'dropdown-child-' + (dropdownSubSide | lowercase)">
            <li *ngFor="let option of widthOptions; let i=index;" (click)="onChangeWidth(option.value)">
              <a 
                class="dropdown-item" 
                [class.active]="option.value === selectedWidth"
                [class.disabled]="isDisabledSubmenu == (i + 1)">{{ option.label }}  
                <span *ngIf="option.value === selectedWidth"><i class="fa-solid fa-check text-primary"></i></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>