body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f5f9 !important;
    overflow-x: hidden;

    dx-license {
        display: none !important;
    }
}

.width-fit-content {
    flex: 1 0 auto;
    width: calc(33.33% - 0.34rem);
}

.width-card-fit-content {
    width: 100%;
}

@media (min-width: 576px) {
    .col-cus-4 {
        flex: 0 0 auto;
        width: calc(33.33% - 0.34rem);
    }

    .col-cus-8 {
        flex: 0 0 auto;
        width: calc(66.66% - 0.19rem);
    }

    .col-cus-12 {
        flex: 0 0 auto;
        width: 99.99%;
    }
}

@media (max-width: 992px) {
    .width-fit-content {
        flex: 1 0 auto;
        width: calc(50% - 0.29rem);
    }
}

@media (max-width: 768px) {

    .width-fit-content,
    .width-card-fit-content,
    .col-cus-12 {
        flex: 0 0 auto;
        width: 99%;
    }
}